# Compiled stuff
bin/

# All LaTeX stuff except .tex & .pdf
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Folder for compiling release packages
release/

# Eclipse stuff
.classpath
.project

# Release/Test files
*.jar
